#
#filetypes to avoid: #
###################
*.pdf
*.txt
*.swp
*.DS_Store
*.DS_Stroe?
*.pyc
*.csv
__pycache__
readPDF/Outcomes.csv
readPDF/Outcomes_1_20_17.xlsx
readPDF/1100133_HA000021_2009-06-29-1346_20061106.txt
VVCR Code/Sick - wide pressure curves/*

readPDF/Trial.py
*.asv
*.lnk
*.xlsx
*.agr
